.coursePage {
  width: 100%;
  // height: 150vh;
  border: 2px solid $red;
  @include flexrow;
  padding-top: 5rem;

  #coursePage {
    // border: 2px solid red;
    h1 {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: $red;
      text-align: center;
    }
    p {
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
      line-height: 1.5rem;
    }
    .offerCont {
      width: 100%;
      height: 120vh;
      border: 2px solid blue;
      margin: 2rem 0;
    }
    h3 {
      text-align: center;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
    
  }
}
