.courseBox{
    width: 250px;
    height: 250px;
    border: 2px solid #0af90a;
    padding: 0.5rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    text-align: center;
} 
.courseBox .imgBox{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 2px solid blue;  */
    margin: 0 auto;
    background-image: url(../images/graphic-design.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
/* .courseBox img{
   
} */
.textBox{
    width: 150px;
    text-align: center;
    /* border: 2px solid blue;    */
    margin: 2rem auto;
}
.textBox h3{
    font-size: 1.5rem;
 
} 