.featurePage{
    width: 100%;
    height: 130vh;
    border: 3px solid #0ce0f8;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem 8%;
}
.featurePage h1{
    font-size: 2.2rem;
    color: #f41e77;
}
.featurePage .feaCont{
    width: 1200px;
    height: 70px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.featurePage .feaDescCont{
    width: 1100px;
    /* height: 60vh; */
    /* border: 2px solid #0af90a; */
    /* padding-top: 3rem; */
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

}
.featurePage .feaDescCont .feaImgBox{
    width: 22%;
    height: 250px;
    /* border: 2px solid blue; */
    background-image: url(../images/treemiti-career-guidance.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.featurePage .feaDescCont .feaTextBox{
    width: 75%;
    /* height: 100%; */
    /* border: 2px solid blue; */
}
.feaDescCont .feaTextBox h4{
    font-size: 1.5rem;
    color: #f41e77;
    margin-left: 12rem;
    margin-bottom: 2rem;
}
.feaDescCont .feaTextBox p{
    line-height: 1.5rem;
    text-align: left;
    margin-bottom: 1rem;
}