nav {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoBox {
    width: 150px;
    height: 100%;
    border: 2px solid red;
  }

  ul {
    display: flex;
  }
}

// nav{
//     width: 100%;
//     padding: 0 8%;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     border: 2px solid #37ff00;
//     position: fixed;
//     /* background-color: #ad05ad; */
//     /* color: #fff; */
// }
// nav ul{
//     width: 730px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     list-style: none;
//     font-size: 1.2rem;
//     background-color: #fff;
//     border: 2px solid blue;

// }
// nav ul li{
//     padding: 0.5rem 1rem;
//     color: #000;
// }
// nav .buttonBox{
//     width: 200px;
//     /* border: 2px solid blue; */
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
// }
// nav .buttonBox button{
//     padding: 0.5rem 1.4rem;
//     font-size: 1rem;
//     border-radius: 2rem;
//     border: 2px solid #fff;
//     margin: 0 0rem;

// }
